/* 使用antd组件的时候，注意不要让自己的样式和组件的默认样式重名，导致组件样式失效 */

.app{
  margin: 10px;
  
}
.avatar {
  position: absolute;
  right: 10px;
}



.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
